:root {
    --blue-color: #55C2D8;
    --heading-font: "Oswald", sans-serif;
    --dark-gray: #464547;
    --light-gray: #666666;
    --light: #ffffff;
  }
  
  body {
    flex-wrap: wrap;
    font-family: "Source Sans 3", sans-serif;
    background: var(--main-bg-color);
  }
  
  .flex {
    display: flex;
  }
  
  section {
    flex: 1 0 100%;
    height: 700px;
    padding: 80px 0;
  }
  
  .container {
    width: 75%;
    margin: 0 auto;
    text-align: center;
  }
  
  button {
    background-color: var(--blue-color);
    border: none;
    border-radius: 18px;
    color: var(--light);
    text-transform: uppercase;
    font-size: 14px;
    font-family: var(--heading-font);
    letter-spacing: 0.1em;
    line-height: 26px;
    width: 115px;
    height: 36px;
    padding: 5px 17px 6px 18px;
    font-weight: 400;
  }
  
  #text-box button {
    transform-origin: left bottom;
    transition: transform 0.5s ease-in;
  }
  
  #text-box button:hover {
    transform: rotate(15deg);
    transform-origin: left bottom fixed;
    transition: 0.5s 0.5s ease-out;
  }
  
  h1 {
    font-weight: 700;
    font-size: 48px;
    font-family: var(--heading-font);
    line-height: 64px;
    color: var(--light);
    margin-bottom: 42px;
  }
  
  h2 {
    color: var(--dark-gray);
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    font-family: var(--heading-font);
  }
  
  h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: var(--light-gray);
    margin-bottom: 48px;
  }
  
  p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: var(--light-gray);
  }
  
  .header1 {
    height: 822px;
    padding: 230px 0;
    background-image: url("../assets/d-animation/Frame-30.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: slideshow 5s infinite;
  }
  
  .header1 h3 {
    font-family: "Source Sans 3", sans-serif;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .logo {
    margin-bottom: 13px;
    transition: 1s 0.2s ease-in-out;
  }
  
  .logo:hover {
    /* transform: scaleX(-1.5); */
    scale: -1.5 1.5 1.5;
    transition: 1s 0.2s ease-in-out;
    /* transform: scale(1.5); */
  }
  
  #text-box {
    height: 700px;
    background-color: #EEEEEE;
  }
  
  #text-box h2 {
    margin-bottom: 40px;
  }
  
  #text-box h3 {
    margin-bottom: 48px;
  }
  
  .text-container {
    justify-content: space-between;
    text-align: left;
    margin-bottom: 46px;
  }
  
  #text-box p {
    width: 45%;
  }
  
  #third-section {
    height: 637px;
    background-image: url("../assets/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 100;
  }
  
  #third-section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(140, 79, 42, 0.3);
    z-index: -1;
  }
  
  #third-section h2 {
    color: #FFFFFF;
    margin-bottom: 53px;
  }
  
  .play {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--blue-color);
    margin: 0 auto;
    align-items: center;
    font-size: 48px;
    transition: background-color 1s, transform 1s, color 1s;
  }
  
  .play:hover {
    background-color: var(--light);
    transform: scale(1.1);
    color: var(--blue-color);
  }
  
  /* span {
    font-size: 48px;
  
  } */
  #third-section h3 {
    color: #FFFFFF;
  }
  
  .image:hover {
    background-color: var(--blue-color);
  }/*# sourceMappingURL=style.css.map */
  