$color_1: var(--light);
$color_2: var(--dark-gray);
$color_3: var(--light-gray);
$color_4: rgba(255, 255, 255, 0.7);
$color_5: #FFFFFF;
$color_6: var(--blue-color);
$font-family_1: 'Source Sans 3', sans-serif;
$font-family_2: var(--heading-font);
$background-color_1: var(--blue-color);
$background-color_2: #EEEEEE;
$background-color_3: rgba(140, 79, 42, 0.3);
$background-color_4: var(--light);

/* span {
  font-size: 48px;

} */
&:root {
	--blue-color: #55C2D8;
	--heading-font: 'Oswald', sans-serif;
	--dark-gray: #464547;
	--light-gray: #666666;
	--light: #ffffff;
}
body {
	flex-wrap: wrap;
	font-family: $font-family_1;
	background: var(--main-bg-color);
}
.flex {
	display: flex;
}
section {
	flex: 1 0 100%;
	height: 700px;
	padding: 80px 0;
}
.container {
	width: 75%;
	margin: 0 auto;
	text-align: center;
}
button {
	background-color: $background-color_1;
	border: none;
	border-radius: 18px;
	color: $color_1;
	text-transform: uppercase;
	font-size: 14px;
	font-family: $font-family_2;
	letter-spacing: 0.1em;
	line-height: 26px;
	width: 115px;
	height: 36px;
	padding: 5px 17px 6px 18px;
	font-weight: 400;
}
#text-box {
	button {
		transform-origin: left bottom;
		transition: transform 0.5s ease-in;
		&:hover {
			transform: rotate(15deg);
			transform-origin: left bottom fixed;
			transition: 0.5s 0.5s ease-out;
		}
	}
	height: 700px;
	background-color: $background-color_2;
	h2 {
		margin-bottom: 40px;
	}
	h3 {
		margin-bottom: 48px;
	}
	p {
		width: 45%;
	}
}
h1 {
	font-weight: 700;
	font-size: 48px;
	font-family: $font-family_2;
	line-height: 64px;
	color: $color_1;
	margin-bottom: 42px;
}
h2 {
	color: $color_2;
	font-size: 48px;
	font-weight: 700;
	line-height: 64px;
	font-family: $font-family_2;
}
h3 {
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
	color: $color_3;
	margin-bottom: 48px;
}
p {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: $color_3;
}
.header1 {
	height: 822px;
	padding: 230px 0;
	background-image: url('../assets/d-animation/Frame-30.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	animation: slideshow 5s infinite;
	h3 {
		font-family: $font-family_1;
		color: $color_4;
	}
}
.logo {
	margin-bottom: 13px;
	transition: 1s 0.2s ease-in-out;
	&:hover {
		scale: -1.5 1.5 1.5;
		transition: 1s 0.2s ease-in-out;
	}
}
.text-container {
	justify-content: space-between;
	text-align: left;
	margin-bottom: 46px;
}
#third-section {
	height: 637px;
	background-image: url('../assets/background.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 100;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $background-color_3;
		z-index: -1;
	}
	h2 {
		color: $color_5;
		margin-bottom: 53px;
	}
	h3 {
		color: $color_5;
	}
}
.play {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: $background-color_1;
	margin: 0 auto;
	align-items: center;
	font-size: 48px;
	transition: background-color 1s, transform 1s, color 1s;
	&:hover {
		background-color: $background-color_4;
		transform: scale(1.1);
		color: $color_6;
	}
}
.image {
	&:hover {
		background-color: $background-color_1;
	}
}
