
/*   
  @keyframes slideshow {
    0% {
      background-image: url(../assets/d-adnimation/Frame30.png);
    }
    33% {
      background-image: url(../assets/d-adnimation/Frame31.png);
    }
    66% {
      background-image: url(../assets/d-adnimation/Frame32.svg);
      
    }
    100% {
        background-image: url(../assets/d-adnimation/Frame30.png);
      }
  } */
  .header1 {
    background-image: url(../assets/d-animation/Frame-32.svg), url(../assets/d-animation/Frame-31.png), url(../assets/d-animation/Frame-30.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    animation: slideshow 6s infinite alternate ease;
  }
  
  @keyframes slideshow {
    0% {
      background-size: cover;
      background-position: 100%;
      background-position: left, left, left;
      background-size: cover, 1px 1px, cover;
    }
    33% {
      background-size: cover;
      background-position: 100%;
      background-position: -10px -10px, left, left;
      /* background-size: contain, contain, contain; */
    }
    66% {
      background-size: cover;
      background-position: 100%;
      background-position: -12px -12px, left, left;
      background-size: cover, cover, cover;
    }
    100% {
      background-size: cover;
      background-position: 100%;
      background-position: left, left, left;
      background-size: cover, 1px 1px, cover;
    }
  }
  
  /* responsive version*/
  @media (max-width: 768px) {
    .header1 {
      background-image: url(../assets/m-animation/Frame-28.svg),   url(../assets/m-animation/Frame-29.png),   url(../assets/m-animation/Frame-24.png);
      animation: mobile-slideshow 6s infinite alternate ease;
      
  }
    
    @keyframes mobile-slideshow {
      0% {
        background-size: cover, 1px 1px, cover;
        background-position: left, left, left;
    }
      50% {
        background-position: -15px -15px, left, left;
        background-size: cover, cover, cover;
        
    }
      100% {
        background-position: left, left, left;
        background-size: cover, 1px 1px, cover;
      }
    }
  }
 